// About

#about {
  padding-bottom: 240px;
  border-bottom: 1px solid #dcddeb;
}

.about {
  &__heading {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
    width: 664px;

    h1 {
      color: $text-primary;
    }
  }

  &__p {
    color: $text-secondary;
  }
}

.columns {
  display: flex;
  margin: 0 auto;

  .column {
    text-align: center;
    width: 400px;
    margin-bottom: 56px;

    h2 {
      color: $text-primary;
    }

    p {
      color: $text-secondary;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 28px;
}
