// Footer

.top {
  padding-top: 140px;
  padding-bottom: 116px;
  display: flex;
  align-items: flex-start;
  gap: 40px;

  &__heading {
    width: 312px;
    & > p {
      margin-bottom: 33px;
    }
  }

  &__contact {
    width: 312px;
  }

  &__h {
    color: $text-primary;
  }

  &__h2 {
    font-size: 20px;
    font-weight: 700;
    color: $text-primary;
    margin-bottom: 28px;
  }

  &__p {
    color: $text-secondary;
    margin-bottom: 18px;
  }

  &__squares {
    display: flex;
    gap: 16px;

    .square {
      width: 36px;
      height: 36px;
      background: #edf5ff;
      border-radius: 8px;
    }
  }

  &__hours {
    width: 164px;

    & p:nth-child(even) {
      color: $text-primary;
      font-weight: 700;
    }
  }

  &__number {
    color: #0075ff;
    font-weight: 700;
  }

  &__action {
    width: 312px;
  }

  .action__h {
    color: $primary-blue;
  }
}

.bottom {
  padding-top: 40px;
  padding-bottom: 32px;
  border-top: 1px solid #eff0f6;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__links {
    display: flex;
    gap: 5px;
  }

  &__a {
    text-decoration: underline;
    color: #0075ff;
  }
}
