// Pages

.pages {
  margin-bottom: 504px;
  margin-top: 240px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    width: 500px;
  }

  &__h {
    margin-bottom: 9px;
    color: $text-primary;
  }

  &__p {
    color: $text-secondary;
    margin-bottom: 8px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

.articles {
  display: flex;
  gap: 28px;

  .article {
    position: relative;

    &__img {
      width: 596px;
      height: 366px;
    }
  }

  .post {
    border: #eff0f6 1px solid;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
    border-radius: 24px;
    padding: 50px;
    margin-left: 20px;
    width: 450px;
    position: absolute;
    top: 305px;

    &__h {
      margin-bottom: 17px;
      color: $text-primary;
    }

    &__p {
      color: $text-secondary;
    }

    &__date {
      color: $text-primary;
      font-weight: 700;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__decoration {
      background-color: $primary-blue;
      height: 50px;
      width: 50px;
      justify-content: flex-end;
    }
  }
}
