// Services

.services-container {
  padding-bottom: 240px;
  border-bottom: 1px solid #dcddeb;
}
.services {
  &__heading {
    text-align: center;
    width: 664px;
    margin: 0 auto;
    margin-top: 240px;

    h1 {
      color: $text-primary;
      line-height: 58px;
      margin-bottom: 13px;
    }
  }

  &__p {
    color: $text-secondary;
    margin-bottom: 32px;
  }
}

.icons {
  width: 750px;
  display: flex;
  justify-content: center;
  gap: 97px;
  margin: 0 auto;
  margin-bottom: 40px;

  &__box {
    display: flex;
    gap: 16px;
  }

  &__img {
    height: 72px;
  }

  &__p {
    color: $text-secondary;
    text-transform: uppercase;
  }
}

.player {
  position: relative;
  display: flex;
  justify-content: center;

  &__button-play,
  &__button-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    height: 198px;
    width: 198px;
    background-color: #ffffff;
    box-shadow: 0px 24px 65px rgba(20, 20, 43, 0.16);
    cursor: pointer;
  }

  .player__button-play:focus {
    opacity: 0;
    z-index: -1;
  }

  .player__button-pause:focus {
    opacity: 0;
    z-index: -2;
  }

  &__img {
    height: 62px;
    width: 55px;
  }
}

// Service columns

.services {
  &--heading2 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 240px;

    button {
      margin: 29px 24px;
    }

    h1 {
      color: $text-primary;
      line-height: 58px;
      display: block;
      width: 475px;
    }
  }
}

.services-columns {
  display: flex;
  margin: 0 auto;
  gap: 28px;
  margin-bottom: 223px;

  p {
    color: $text-secondary;
  }

  .box {
    box-sizing: border-box;
    width: 388px;
    min-height: 495px;
    text-align: center;
    border: 1px solid #eff0f6;
    border-radius: 16px;
    padding: 49px 38px 29px 38px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &__h {
      margin-top: 24px;
      margin-bottom: 13px;
      line-height: 34px;
    }

    p {
      line-height: 30px;
    }
  }

  .box-1 {
    &__img-box {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }

    &__img {
      width: 100%;
      height: 100%;
      height: 190px;
      width: 220px;
    }
  }

  .box-2 {
    &__img {
      height: 224px;
      width: 220px;
    }
  }

  .box-3 {
    &__img {
      height: 200px;
      width: 250px;
    }
  }
}

// C19

.c19 {
  background-color: $text-primary;
  border-radius: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 200px;

  &__img {
    margin-right: 72px;
  }

  &__content {
    margin-right: 74px;
  }

  &__p {
    text-transform: uppercase;
  }

  &__p2 {
    margin-bottom: 12px;
  }

  &__h {
    margin-bottom: 18px;
  }

  .action .phone .action__p,
  .action__h {
    color: #ffffff;
  }
}

// Inhouse

.inhouse {
  display: flex;
  align-items: center;
  margin-bottom: 200px;

  &__img {
    margin-right: 80px;
  }

  &__h {
    color: $text-primary;
    line-height: 58px;
    margin-bottom: 19px;
  }

  &__p {
    margin-bottom: 26px;
    color: $text-secondary;
  }
}

.list-container {
  margin-bottom: 48px;
  display: flex;
  gap: 56px;

  .list {
    color: $text-primary;
    width: 147px;

    li {
      position: relative;
      list-style: none;
      padding-left: 35px;
      margin-bottom: 24px;
    }

    li::before {
      content: "";
      position: absolute;
      background-image: url(../img/List.png);
      width: 26px;
      height: 26px;
      left: 0;
    }
  }
}

// Description

.desc {
  display: flex;
  align-items: center;
  padding-bottom: 200px;
  border-bottom: 1px solid #dcddeb;

  &__h2 {
    color: $text-primary;
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__p {
    color: $text-secondary;
    margin-bottom: 15px;
  }

  &__p-small {
    color: $text-secondary;
    margin-bottom: 26px;
  }

  &__stats {
    display: flex;
    margin-bottom: 48px;

    .numbers {
      font-size: 58px;
      color: $text-primary;
      font-weight: 700;
    }

    .text {
      color: $text-secondary;
      font-weight: 700;
    }

    .years {
      margin-right: 38px;
    }

    .clients {
      margin-right: 58px;
    }

    span {
      color: $primary-blue;
    }
  }
}
